---
interface Props {
	lang: string,
	title: string;
}

const { title, lang } = Astro.props;

import { getData } from '@cv';
import  Section from  '@/components/Section.astro'

const { basics } = getData(lang);
const { summary }  = basics
---

<Section title={title}>
	<p>
		{summary}
	</p>
<Section/>